{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Dashboard{%endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <!-- <script defer>
        window.opener.document.getElementById('uname').value = "hello";
        self.close();
    </script> -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #ffffff;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{%url 'home'%}">
                <img src="{%static 'images/logo.svg'%}" width="30" height="30" class="d-inline-block align-top" alt="">
                DOMAIN REGISTRATION DASHBOARD
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{%url 'home'%}">Home</a>
                    </li>
                </ul>
            </div>
            {% if user.is_authenticated %}
            <a class="btn btn-danger" href="{%url 'logout'%}">Logout</a>
            {% endif %}
        </div>
    </nav>
    {%block content%}
        {% if user.is_authenticated %}
        
    <div style="background-color: #F2F2F2; padding: 10pt;">
        <!--
        TODO  
            Design the dashboard
            Add Domain
            Edit Domain
            Get Scripts
        -->
        <a class="btn btn-success" style="float: right; margin-right: 10pt;" href="{% url 'add_domain' %}">Add
            Domain</a>
        <p style="width: fit-content; margin-left: 10pt;">User: {{user.email}}</p>
        <p></p>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Permissions</th>
                        <th>Key</th>
                        <th>EKYC Endpoint</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for domain in domains %}
                    <tr>
                        <td>{{domain.domain}}</td>
                        <td>{{domain.permission}}</td>
                        <td>{{domain.domain_key}}</td>
                        <td>{{domain.ekycxml_endpoint}}</td>
                        <td>
                            <a class="btn btn-warning" href="/user/edit_domain/{{ domain.domain_key }}/">Edit</a>
                            <a class="btn btn-danger" href="/user/delete_domain/{{ domain.domain_key }}/">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first mt-4 mb-2">
                <img src="{%static 'images/logo.svg'%}" id="icon" alt="User Icon"
                    style="max-height: 15%;max-width: 15%;" />
            </div>
            <div class="fadeIn second mt-2 mb-2">
                <h2 class="fadeIn second">You are not logged in</h2>
            </div>
            <a class="btn mb-4 m-2 fadeIn fourth text-light" style="background-color: #fbc12c;"
                href="{%url 'register'%}">Register</a>
            <a class="btn mb-4 m-2 fadeIn fourth text-light" style="background-color: #fbc12c;"
                href="{%url 'login'%}">Login</a>
            <div class="msg fadeIn fifth" style="color: red;">{{ msg }}</div>
            <script>
                register = (n) => window.location = n == 0 ? "{% url 'login'%}" : n == 1 ? "" : window.location;
            </script>
            <!-- <div id="formFooter">
                    {%block footer%}
                    {%endblock%}
                </div> -->
        </div>
    </div>
    {% endif %}
    {%endblock%}
</body>

</html>